<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.marusputin.listeners.TestListeners"/>
    </listeners>
    <test parallel="methods" thread-count="2" verbose="2" preserve-order="true" name="C:/Users/DELL/IdeaProjects/RestAssuredFramework">
        <classes>
            <class name="com.marusputin.tests.AddPlaceTest">
                <methods>
                    <include name="addPlaceTestUsingPojo"/>
                    <include name="addPlaceUsingExternalFile"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>